<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css">
</head>
<body>
<div class="row no-gutters">
    <div class="col-12 d-flex">
        <div class="table-responsive">
            <table class="table table-sm " style="border-right: 1px solid #ddd;">
                <thead>
                <tr class="table-secondary">
                    <th style="width: 75px;">Alterou?</th>
                    <th>SKU</th>
                    <th>Descriçao</th>
                    <th>Voltagem</th>
                    <th>Fornecedor</th>
                    <th>Situação</th>
                    <th>Especie</th>
                    {% for col in range(0,3) %}
                        <th class="text-center" style="width: 70px;min-width: 70px">PP</th>
                        <th class="text-center" style="width: 70px;min-width: 70px">P</th>
                        <th class="text-center" style="width: 70px;min-width: 70px">M</th>
                        <th class="text-center" style="width: 70px;min-width: 70px">G</th>
                        <th class="text-center" style="width: 70px;min-width: 70px">GG</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for skus in sku %}
                    <tr style="line-height: 14px;">
                        <td class="align-middle" style="border-top: 1px solid #dee2e6;"> </td>
                        <td class="align-middle" style="border-top: 1px solid #dee2e6;">{{ skus.CODMERCADORIA }}</td>
                        <td class="align-middle d-inline-block text-truncate"
                            style="max-width: 18rem;">{{ skus.DESCMERCADORIA }}</td>
                        <td class="align-middle text-center text-truncate"
                            style="max-width: 15rem">{{ skus.VOLTAGEM }}</td>
                        <td class="align-middle" style="max-width: 8rem;">{{ skus.DESCMARCA }}</td>
                        <td class="align-middle text-center text-truncate"
                            style="max-width: 8rem">{{ skus.STATUS }}</td>
                        <td class="align-middle d-inline-block text-truncate"
                            style="max-width: 10rem;">{{ skus.DESCESPECIE }}</td>

                            {% for items in mercadoria.mercadoria_0 %}
                                {% if items.CODMERCADORIA == skus.CODMERCADORIA %}
                                    {% if items.TAMANHO_PP %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_PP == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_PP }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_P %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_P == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_P }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_M %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_M == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_M }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_G %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_G == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_G }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_GG %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_GG == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_GG }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for items in mercadoria.mercadoria_1 %}
                                {% if items.CODMERCADORIA == skus.CODMERCADORIA %}
                                    {% if items.TAMANHO_PP %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_PP == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_PP }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_P %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_P == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_P }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_M %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_M == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_M }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_G %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_G == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_G }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_GG %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_GG == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_GG }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for items in mercadoria.mercadoria_2 %}
                                {% if items.CODMERCADORIA == skus.CODMERCADORIA %}
                                    {% if items.TAMANHO_PP %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_PP == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_PP }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_P %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_P == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_P }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_M %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_M == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_M }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_G %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_G == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_G }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                    {% if items.TAMANHO_GG %}<td class="align-middle text-center font-weight-bold{% if items.TAMANHO_GG == 3 %} bg-warning{% else %} bg-info{% endif %}" style="max-width: 18rem;">{{ items.TAMANHO_GG }}</td>{% else %}<td class="align-middle text-center font-weight-bold" style="max-width: 18rem;background-color: lightgrey"> </td>{% endif %}
                                {% endif %}
                            {% endfor %}


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
